version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "7069:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Server=HEYBE\\SQLExpress;Database=BankDB;Trusted_Connection=True;Encrypt=False;
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
